@font-face {
    font-family: "Roboto-Med";
    src: url("../resources/fonts/roboto-med.ttf");
}
@font-face {
    font-family: "Roboto-Thin";
    src: url("../resources/fonts/roboto-thin.ttf");
}

*
{
    font-family: "Roboto-Thin";
    color: white;
}

body
{
    background-color: rgb(15, 15, 20);
}

.container
{
    display: flex;
    flex-direction: column;
    gap: 2vh;

    margin: 6vh 6vw;
    padding: 6vh 6vw;

    background-color: rgb(30, 30, 40);
    border-radius: 20px;
}

.seperator
{
    border-bottom: 2px solid white;
    width: 100%;
}

.flex-col
{
    display: flex;
    flex-direction: column;
}
.flex-row   
{
    display: flex;
    flex-direction: row;
}
.flex-max { flex: 1; }
.align { align-items: center; }
.justify { justify-content: center; }
.gap-10 { gap: 1vh; }
.gap-20 { gap: 1.5vh; }
.gap-30 { gap: 2vh; }
.gap-40 { gap: 2.5vh; }
.gap-50 { gap: 3vh; }

a
{
    color: inherit;
    text-decoration: none;
}
a.button
{
    padding: 1.25vh 2vw;
    border: 1px rgba(255, 255, 255, 0.6) solid;
    border-radius: 15px;
    transition: 0.5s ease all;
}
a.button:hover
{
    border: 1px rgba(255, 255, 255, 1) solid;
    border-radius: 5px;
}

button
{
    max-width: fit-content;
    padding: 1.25vh 2vw;
    border: 1px rgba(255, 255, 255, 0.6) solid;
    border-radius: 15px;
    transition: 0.5s ease all;
    background-color: transparent;
}
button:hover
{
    cursor: pointer;
    border: 1px rgba(255, 255, 255, 1) solid;
    border-radius: 5px;
}

.small-text { font-size: 0.75vw; }
.mid-text { font-size: 1.5vw; }
.large-text { font-size: 2.25vw; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

input 
{
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s ease all;
}
input:hover 
{
    border-radius: 5px;
}
input:focus
{
    outline: 0px transparent;
    border: 1px solid white;
    border-radius: 0px;
}